.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: "250px";
  width: '200px';
  /* object-fit: cover; */

}
.cardContainer{
    width: 100%;
   
    margin: 5px;
}
.Image{
    height: 200px;
    width: 190px;
    border-radius: 5px;
}


.titleCls{
    max-width: 190px !important;
}